*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body, html{
    height: 100%;
}

.clear{
    clear: both;
}

.nav-bg{
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);   
}

.black-out{
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px 2%;
}

.container-header{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container-right{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

header{
    width: 100%;
    height: 70vh;
    background-image: url('../img/header_bg3.jpg');
    background-position: center;
    background-size: cover;
}

header nav{
    float: right;
    padding: 10px 5px;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

header .logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px;
    max-width: 420px;
    height: 40px;
}

header .logo h2{
    font-size: 36px;
    font-family: 'Righteous', cursive;
    color: aliceblue;
    font-weight: 200;
}

header .logo h2:first-child{
    padding-left: 10px;
}

header .bloco-p{
    display: inline-block;
    margin-left: 8px;
    letter-spacing: 1px;
}

.no-select {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;    
    -khtml-user-select: none;     
    -moz-user-select: none;      
    -ms-user-select: none;        
    user-select: none;
}

header .logo p{
    font-size: 10px;
    font-family: 'Righteous', cursive;
    color: aliceblue;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

header nav li:first-child{
    font-weight: 600;
}

header nav li{
    float: left;
    padding: 0 10px;
    letter-spacing: 2px;
}

header li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

header .container-right .chamada1{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    color: gainsboro;
    margin: 70px 0;
    max-width: 550px;
}

header .chamada1 h3{
    font-size: 34px;
    padding: 10px;
    font-weight: 700;
    text-shadow: 2px 0px 3px rgb(0, 0, 0);
}

header .chamada1 p{
    padding: 10px;
    text-align: justify;
    font-size: 12px;
    line-height: 20px;
    text-shadow: 2px 0px 3px rgb(0, 0, 0);
}

section.sessao1{
    width: 100%;
    background-color: #18523f;
    padding: 20px 2%;
}

section .texto-sessao1{
    float: left;
    color: white;
}

section .texto-sessao1 h2{
    font-weight: 500;
}

section .texto-sessao1 p{
    font-size: 13px;
    margin-top: 20px;
}

section .texto-sessao1 ul{
    list-style-position: inside;
    font-size: 13px;
}




/* MEDIA QUERYS --- RESPONSIVE PROPERTIES */
@media screen and (max-width: 640px){
    header .logo .bloco-p{
        display: none;
    }

    .black-out{
        background-color: rgba(0, 0, 0, 0.4);
    }

}

@media screen and (max-width: 590px){
    header .container-header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    header .chamada1 h3{
        font-size: 28px;
    }

    .black-out{
        background-color: rgba(0, 0, 0, 0.5);
    }


}
