*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body, html{
    height: 100%;
}

.clear{
    clear: both;
}

.nav-bg{
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);   
}

.black-out{
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px 2%;
}

.container-header{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container-right{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

header{
    width: 100%;
    height: 80vh;
    background-image: url('../img/header_bg5.jpg');
    background-position: center;
    background-size: cover;
}

header nav.desktop-menu{
    float: right;
    padding: 10px 5px;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

header .logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px;
    max-width: 420px;
    height: 40px;
}

header .logo h2{
    font-size: 36px;
    font-family: 'Righteous', cursive;
    color: aliceblue;
    font-weight: 200;
}

header .logo h2:first-child{
    padding-left: 10px;
}

header .bloco-p{
    display: inline-block;
    margin-left: 8px;
    letter-spacing: 1px;
}

.no-select {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;    
    -khtml-user-select: none;     
    -moz-user-select: none;      
    -ms-user-select: none;        
    user-select: none;
}

header .logo p{
    font-size: 10px;
    font-family: 'Righteous', cursive;
    color: aliceblue;
}

header nav.desktop-menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

header nav.desktop-menu li:first-child{
    font-weight: 600;
}

header nav.desktop-menu li{
    float: left;
    padding: 0 15px;
    letter-spacing: 2px;
}

header nav.desktop-menu li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

header nav.mobile-menu{
    display: none;
    width: 32px;
    height: 32px;
    background-image: url('../img/menu-branco.png');
    background-size: 100% 100%;
    margin: 8px;
    cursor: pointer;
}

header nav.mobile-menu ul{
    display: none;
    background-color: whitesmoke;
    position: absolute;
    width: 100%;
    left: 0;
    top: 90px;
    list-style-type: none;
    text-align: center;
}

header nav.mobile-menu:hover ul{
    display: block;
}

header nav.mobile-menu ul li{
    border-bottom: 1px solid black;
    padding: 10px 0;
}

header nav.mobile-menu ul li a{
    color: black;
    text-decoration: none;
}

header nav.mobile-menu ul li:hover{
    background-color: rgb(230,230,230);
}

header .container-right .chamada1{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    color: gainsboro;
    margin: 70px 0;
    max-width: 550px;
}

header .chamada1 h3{
    font-size: 34px;
    padding: 10px;
    font-weight: 700;
    text-shadow: 2px 0px 3px rgb(0, 0, 0);
}

header .chamada1 p{
    padding: 10px;
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
    text-shadow: 2px 0px 3px rgb(0, 0, 0);
}

section.sessao1{
    width: 100%;
    height: 300px;
    background-color: #011125;
    padding: 0 2%;
}

.container-device{
    max-width: 1280px;
    margin: 0 auto;
    max-height: 300px;
}

section .texto-sessao1{
    float: left;
    color: white;
    width: 48%;
    margin-left: 2%;
    margin-top: 30px;
    position: relative;
    left: 60px;
}

section .texto-sessao1 h2{
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

section .texto-sessao1 ul{
    list-style-position: inside;
    font-size: 13px;
}

section .texto-sessao1 li{
    float: left;
    width: 100%;
    margin: 3px;
}

section .texto-sessao1 li:last-child{    
    margin-bottom: 10px;
}

section .device-sessao1{
    float: left;
    width: 48%;
    position: relative;
    top: -50px;
    height: 350px;
    background-image: url('../img/device.png');
    background-repeat: no-repeat;
    background-size: 98% 100%;
    margin-right: 2%;
}

section .btn1-texto{
    background-color: #115a3b;
    width: 175px;
    height: 44px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    line-height: 44px;
    border-radius: 25px;
}

section.sessao2{
    padding: 80px 2%;
    background-color: white;
    text-align: center;
}

section.sessao2 h2{
    color: #011125;
    font-weight: 700;
}

section.sessao2 p{
    max-width: 1000px;
    display: inline-block;
    margin-top: 30px;
    text-align: left;
}

section.sessao2 img{
    width: 70%;
    margin-top: 40px;
}



/* MEDIA QUERYS --- RESPONSIVE PROPERTIES */

@media screen and (max-width: 600px){
    
    header .chamada1 h3{
        font-size: 28px;
    }

    .black-out{
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 768px){

    header nav.desktop-menu{
        display: none;
    }

    header nav.mobile-menu{
        display: block;
    }

    .container-right{
        justify-content: center;
    }

    section.sessao1{
        padding: 30px 2%;
        height: auto;
        text-align: center;
    }

    .container-device{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section .texto-sessao1{
        margin: 2% 20%;
        position: static;
        float: none;
        display: inline-block;
        width: 100%;
        padding-left: 0;
    }

    section.texto-sessao2{
        display: inline;
        position: relative;
        max-height: 200px;
    }
 
    section.sessao2{
        margin: 30px 5%;
    }

    .texto-sessao1 ul{
        display: inline-block;
        /* margin-top: 20px; */
    }

    .texto-sessao1 ul li{
        float: none;
        text-align: left;
    }

    .device-sessao1{
        display: none;
    }

    .btn1-texto{
        display: inline-block;
    }

}


