*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
}

header{
    background-color: #d6d6d6;
    padding: 10px 2% 20px 2%;
}

.logo1{
    padding-left: 3%;
    width: 230px;
    height: 75px;
    background-image: url('../img/logo1.png');
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.logo2{
    padding-right: 3%;
    width: 230px;
    height: 75px;
    background-image: url('../img/logo2.png');
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

section.form-cover{
    width: 100%;
}

.bg{
    display: flex;
    justify-content: flex-end;
    height: 600px;
    background-position: center;
    background-image: url('../img/bg-form.jpg');
    background-size: cover;
}

.form-container{
    text-align: center;
    margin-right: 35px;
    width: 400px;
    height: 107%;
    transform: translateY(-20px);
    background-color: rgba(40, 44, 44, 0.65);
}

.form-container h2{
    font-size: 18px;
    font-weight: normal;
    padding: 35px 15px;
    color: #dddddd;
    background-color: rgba(70, 76, 80, 0.95);
}

.form-container form{
    text-align: start;
    padding: 15px;
    margin: 5px;
}


.form-container form p{
    font-size: 16px;
    color: #c9c9c9;
    margin-bottom: 10px;
}

.form-wraper:not(:first-child){
    margin-top: 30px;
}

.form-container form input[type=text], select{
    width: 100%;
    border: 1px solid #ccc;
    background-color: #e2e2e2d0;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
}

.warning {
    margin-top: 20px;
}

form .input-submit{
    text-align: center;
}

form input[type=submit]{
    color: black;
    margin-top: 10px;
    border: 0;
    width: 70%;
    height: 42px;
    font-size: 18px;
    background-color: #e2e2e2d0;
    display: inline-block;
    -webkit-box-shadow: -2px 3px 3px 1px rgba(0,0,0,0.5);
    box-shadow: -2px 3px 3px 1px rgba(0,0,0,0.5);
    cursor: pointer;
    text-transform: uppercase;
}

form input[type=submit]:hover{
    background-color: rgba(184, 184, 184, 0.95);
}

section.chamada .container{
    display: flex;
    padding: 30px 20px;
    text-align: center;
    background-color: #29526d;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

section.chamada h2{
    width: 100%;
    max-width: 700px;
    display: inline-block;
    color: white;
    font-size: 28px;
    font-weight: normal;
}

section.chamada h4{
    margin: 10px 0;
    width: 100%;
    max-width: 700px;
    display: inline-block;
    font-size: 20px;
    color: white;
    font-weight: 300;
}

section.chamada .container .arrow{
    background-image: url('../img/arrow.png');
    width: 40px;
    height: 40px;    
    background-size: cover;
    transform: translateY(-50px);
}

.flex-mosaico{
    display: flex;
    min-height: 280px;
}

.item-1{
    background-position: center;
    background-size: cover;
    width: 65%;
}

.item-2{
    display: flex;
    color: black;
    text-align: justify;
    background-color: rgb(224, 248, 255);
    align-items: center;
    justify-content: center;
    padding: 60px;
    width: 35%;
}

footer{
    padding: 20px;
    text-align: center;
}

footer p{
    margin-top: 4px;
}

@media screen and (max-width: 940px){
    .bg{
        justify-content: center;
    }

    .form-container{
        max-width: 600px;
    }

    section.chamada .container .arrow{
        display: none;
    }
    
}

@media screen and (max-width: 768px){
    .flex-mosaico{
        display: block;
    }

    .item-1{
        padding-top: 70%;
        height: 280px;
        width: 100%;
    }

    .item-2{
        width: 100%;
    }
}

@media screen and (max-width: 580px){
    .header{
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }

    .bg{
        justify-content: center;
    }

    .form-container{
        margin: 0;
    }
}